.values-unique {
  padding: 120px 0;
  background:  #F3F5F2;
}

.values-wrap {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 80px;
  align-items: flex-start;
}


/* LEFT */
.values-left {
  flex: 1;
  position: relative;
}

.values-tag {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16a34a;
}

.values-left h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 800;
  margin: 18px 0;
  line-height: 1.3;
  color: #0f172a;
}

.values-left p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #475569;
  max-width: 420px;
}

.vertical-line {
  position: absolute;
  left: -30px;
  top: 0;
  height: 260px;
  width: 4px;
  border-radius: 4px;
  background: linear-gradient(#16a34a, #22c55e);
}

/* RIGHT */
.values-right {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.value-box {
  background: white;
  padding: 26px 28px;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.value-box h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
}

.value-box p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #475569;
}

.value-box.shift {
  margin-left: 40px;
}

.value-box:hover {
  transform: translateY(-6px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .values-wrap {
    flex-direction: column;
  }

  .vertical-line {
    display: none;
  }

  .value-box.shift {
    margin-left: 0;
  }
}
